:root {
  --cargo-yello: #f9d63a;
  --popup-light-yellow: #fffae1;
  --label-font-size: 1.25rem;
}

.container {
  color: #000000;
  background-color: var(--popup-light-yellow);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  border-radius: 1rem;
  border: 2px solid #000000;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.cargo-close-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}

.cargo-input-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  margin: 10px 0 10px 5%;
}

.input-label {
  font-weight: bold;
  font-size: var(--label-font-size);
  display: flex;
  align-items: center;
  min-width: 50%;
  text-align: left;
}

.cargo-input {
  margin: 5px 0 0 5px;
  padding-left: 4%;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  height: 38px;
  min-width: 50%;
}

.cargo-input:hover {
  border-color: hsl(0, 0%, 50%);
}

.cargo-input:focus {
  border: 2px solid #2684ff;
  outline: none;
}

.cargo-checkbox {
  margin: 5px 0 0 5px;
  padding-left: 4%;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  width: 19px;
  color: var(--cargo-yello);
  cursor: pointer;
}

.MuiDialog-paper {
  border-radius: 1rem;
}

.MuiDialog-container {
  border-radius: 1rem;
}
