@tailwind base;
/* ===> Enabling Tailwind CSS */
@tailwind components;
/* ===> Enabling Tailwind CSS */
@tailwind utilities;
/* ===> Enabling Tailwind CSS */


/* Data Display CSS, Static Data & Critical Data*/

#data-box {
  @apply grid  justify-items-center shadow-lg rounded-md px-4 m-4 font-bold;
}


#flex-container {
  @apply shadow-lg rounded-md py-4 font-semibold space-x-2 grid grid-cols-4 gap-2;
}

#data-bar {
  @apply flex flex-col justify-center  justify-items-center mx-auto py-8; 
}

/* Variables */

.root,
#root,
#docs-root {
  --bg: white;
  --formWidth: 620px;
  --formHeight: 400px;
  --imageWidth: 48px;
  --imageHeight: 36px;
}

/* Basic Data CSS */
#main-css{
  @apply flex justify-center h-screen w-screen  items-center ; 
}

.window-css{
  @apply  justify-center bg-white shadow-lg rounded-md p-8 grid grid-cols-2 gap-7 mx-2 ;
  width: var(--formWidth);
  height: var(--formHeight);
  background-color: var(--bg)
}


p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

#people-css{
  @apply flex justify-start mt-4 
}

#text-box-item{
 @apply  my-1  justify-self-center
}

button{
  @apply mx-3
}



/* Fuel Pod Data */

#fuel-data {
  @apply grid grid-cols-2 gap-2;
}


#fuel-silders{
 @apply mt-3
}

/* Input Variables CSS */

#input-css{
  @apply w-full h-11 place-items-stretch rounded-md  text-right  border border-[#d9d9d9] placeholder-gray-500;
  margin: .4rem;
}



/* CheckBox CSS */


#main-fuel{
  @apply  mt-1 border border-[#d9d9d9] p-3
}
#checkBoxes{
 @apply flex space-x-8
}

/* Submit button */

#next-button{
  @apply col-span-2 justify-self-center text-2xl rounded-md shadow-2xl border-black h-12 w-24
}





